#textdomain wesnoth-TDHR
[scenario]
    id=10_Return_to_the_Northlands
    next_scenario=11_An_Orcish_Coup
    name= _ "Return to the Northlands"
    map_data="{~add-ons/The_Dark_Hordes_Rewrought/maps/10_Map.map}"
    victory_when_enemies_defeated=no
    carryover_percentage=40
    carryover_add=yes
    {DEFAULT_SCHEDULE}
    {TURNS 34 32 28}

    {SCENARIO_MUSIC "northerners.ogg"}
    {EXTRA_SCENARIO_MUSIC "vengeful.ogg"}
    {EXTRA_SCENARIO_MUSIC "the_dangerous_symphony.ogg"}

    [story]
        [part]
            story= _ ""
        [/part]
    [/story]

    [side]
        side=1
        {SIDE_1_ESSENTIALS}
        {SIDE_1_GOLD_FIXED 120 80}
        fog=no
        shroud=no
        recruit=Skeleton, Skeleton Archer, Walking Corpse, Vampire Bat, Ghoul, Ghost, Skeleton Rider, Orcish Grunt, Orcish Archer, Orcish Assassin, Wolf Rider, Goblin Spearman
#ifndef MULTIPLAYER 
        [unit]
            {NATI_HAATEL}
            location_id=2
        [/unit]
        [unit]
            {TANAR}
            placement=leader
            passable=yes
        [/unit]
#endif
    [/side]

    [side]
        side=2
        {SIDE_2_ESSENTIALS}
        gold=80
        fog=no
        shroud=no
        recruit=Skeleton, Skeleton Archer, Walking Corpse, Vampire Bat, Ghoul, Ghost, Skeleton Rider, Orcish Grunt, Orcish Archer, Orcish Assassin, Wolf Rider, Goblin Spearman
#ifdef MULTIPLAYER
        [unit]
            {TANAR}
            placement=leader
            passable=yes
        [/unit]
#endif
    [/side]

    [side]
        side=3
        {UNPLAYABLE_SIDE}
        team_name=orcs
        user_team_name= _ "Orcs"
        {FLAG_VARIANT ragged}
        type=Orcish Warlord
        id="Vrork"
        name= _ "Vrork"
        {GOLD 450 600 800}
        {INCOME 0 8 16}
        recruit=Orcish Grunt, Orcish Archer, Wolf Rider, Goblin Spearman, Orcish Assassin, Orcish Warrior, Goblin Knight
        [ai]
            aggression=0.75
            grouping=no
        [/ai]
    [/side]

    {STARTING_VILLAGES_ALL 3}
    {STARTING_VILLAGES 1 7}
    {STARTING_VILLAGES 2 7}

    [event]
        name=start

        {CLEAR_FOG 1 22 9 3}
        {UNCLEAR_FOG}
    [/event]
[/scenario]
