#textdomain wesnoth-TDHR
[scenario]
    id=14_Ambush
    next_scenario=02
    name= _ "Ambush"
    map_data="{~add-ons/The_Dark_Hordes_Rewrought/maps/14_Ambush.map}"
    victory_when_enemies_defeated=yes
    carryover_percentage=40
    carryover_add=yes
    bonus=yes
    {DEFAULT_SCHEDULE_DUSK}
    {TURNS 30 27 24}

    {INTRO_AND_SCENARIO_MUSIC revelation.ogg knolls.ogg}
    {EXTRA_SCENARIO_MUSIC transience.ogg}
    {EXTRA_SCENARIO_MUSIC nunc_dimittis.ogg}

    [story]
        [part]
            story= _ ""
        [/part]
    [/story]

    [side]
        side=1
        {SIDE_1_ESSENTIALS}
        {SIDE_1_GOLD_FIXED 400 250}
        recruit=Skeleton, Skeleton Archer, Walking Corpse, Vampire Bat, Ghoul, Ghost, Skeleton Rider
#ifndef MULTIPLAYER 
        [unit]
            {NATI_HAATEL}
            location_id=2
        [/unit]
#endif
    [/side]

    [side]
        side=2
        {SIDE_2_ESSENTIALS}
        gold=250
        recruit=Skeleton, Skeleton Archer, Walking Corpse, Vampire Bat, Ghoul, Ghost, Skeleton Rider
    [/side]

    [side]
        side=3
        {UNPLAYABLE_SIDE}
        team_name=Elves
        user_team_name= _ "Elves"
        {FLAG_VARIANT wood-elvish}
        {ELYNIA}
        {GOLD 900 1200 1500}
        recruit=Elvish Druid,Elvish Shyde,Elvish Sorceress,Elvish Enchantress,Elvish Champion,Elvish Avenger
    [/side]

    {STARTING_VILLAGES_ALL 3}

    [event]
    name=prestart 

        
    [/event]

    [event]
    name=start 
        [objectives]
            side=1,2
            [objective]
                description= _ "Defeat all enemy units"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Gwiti"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Nati"
                condition=lose
            [/objective]
            {TURNS_RUN_OUT}
            [gold_carryover]
                carryover_percentage=40
            [/gold_carryover]
        [/objectives]
    [/event]
    
    [event]
        name=last breath
        [filter]
            id=Elynia
        [/filter]
        [message]
            speaker=Elynia
            message=_"I'll be back!"
        [/message]
        [modify_unit]
            [filter]
                id=Elynia
            [/filter]
            hitpoints=10
        [/modify_unit]
        {MOVE_UNIT (id=Elynia) 1 1}
        [kill]
            id=Elynia
            fire_event=no
        [/kill]
    [/event]
[/scenario]
